version: '3'
services:
  backend:
    build:
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - ml_server

  ml_server:
    build:
      dockerfile: Dockerfile
    ports:
      - "65534:65534"
