server:
  port: 8080

spring:
  profiles:
    active: local

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://34.64.189.204:3306/gdscDB?serverTimezone=Asia/Seoul
    username: root
    password: gdsc

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

  OAuth2:
    google:
      url: https://accounts.google.com/o/oauth2/v2/auth
      client-id: 741217500982-kis8tvq8sps08aafe3fptv6i1keb082t.apps.googleusercontent.com
      client-secret: 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
      callback-url: http://localhost:8080/login/oauth2/code/google
      scope: https://www.googleapis.com/auth/userinfo.email%20https://www.googleapis.com/auth/userinfo.profile

  security:
    jwt:
      token:
        issuer: stRecording
        secret-key: bObCca-W3tjwK0BhCnZJQlKml4ePRf5lIzlRcpZe_Bo
        access-token-expiration-seconds: 3600
        refresh-token-giexpiration-seconds: 604800
        refresh-token-expiration-seconds: 604800

    oauth2:
      client:
        registration:
          facebook:
            client-id: 1110948053416974
            client-secret: b3af5425a30dbfa241631a143b745291
            scope:
              - email
              - public_profile
              -
  cloud:
    gcp:
      credentials:
        location: classpath:stt.json
      storage:
        credentials:
          location: classpath:strecording-upload.json
        project-id: eng-drake-410407
        bucket: gdsc-bucket

  redis:
    host:localhost
    port:6379

kakao:
  api_key: 3ea1d757fe280fdf11868685602c24d0
  redirect_uri: http://localhost:8080/login/oauth2/code/kakao


mybatis:
  mapper-locations: classpath:mapper/*.xml

grpc:
  client:
    test:
      address: static://0.0.0.0:50010
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: plaintext
